{% extends 'index.html' %}
{% block body %}
<div class="ui container">
    <div class="ui form">
        {% if setting == 'changePass' %}
        <h3>Change password for account {{username}} from {{organisation}}</h3>
        <input value="{{password}}" type="password" id="password" disabled>
        <br>
        <br>
        <button class="ui green button" onclick="toggler(this)" type="button">Show current password</button>
        <br>
        <br>
        <form class="ui form" method="POST" action = "{{url_for('confirm_change', organisation=organisation,username=username)}}">
          <div class="field">
            <label>Enter new password</label>
            <input type="password" id= "new password" name="new password" placeholder="Enter new password" onchange="validate_password()">
          </div>
          <div class="field">
            <label>Confirm new password</label>
            <input type="password" id= "confirm new password" name="confirm new password" placeholder="Confirm new password" onchange="validate_password()">
          </div>
          <button class="ui button" type="submit" id="submit">Submit</button>
        </form>
        {% elif setting == 'changeUsername'%}
        <h3>Change username for account {{username}} from {{organisation}}</h3>
        <form class="ui form" method="POST"action = "{{url_for('confirm_change',organisation=organisation,username=username)}}">
          <div class="field">
            <label>Enter new username</label>
            <input type="text" id="new username" name="new username" placeholder="Enter new username" onchange="validate_usernamee()">
          </div>
          <div class="field">
            <label>Confirm new username</label>
            <input type="text" id="confirm new username" name="confirm new username" placeholder="Confirm new username"onchange="validate_username()">
          </div>
          <button class="ui button" type="submit" id="submit">Submit</button>
        </form>
        {% endif %}
    </div>
    {% if existingpass %}
    <div class="ui error message">
      <i class="close icon"></i>
      <div class="header">
        You have used this password for another account
      </div>
      <ul class="list">
        <li>Please use a different password for each account</li>
      </ul>
    </div>
    {% endif %}
    <script>
        // Acknowledgement: Function for toggling on and off passwords
        // https://stackoverflow.com/questions/43390966/javascript-show-hide-toggle-button-for-password-field
        function toggler(e) {
            if( e.innerHTML == 'Show current password' ) {
                e.innerHTML = 'Hide'
                document.getElementById('password').type='text'
            } else {
                e.innerHTML = 'Show current password'
                document.getElementById('password').type='password'
            }
        }
        // Acknowledgement: Checking if passwords and usernames are the same
        // https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page
        function validate_password() {
            passval = document.getElementById("confirm new password").value
            if(document.getElementById("new password").value ==
            passval && passval.length > 0) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }
        function validate_username() {
            usernameval = document.getElementById("confirm new username").value
            console.log(usernameval.length)
            if(document.getElementById("new username").value ==
            usernameval && usernameval.length > 0) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }
        // function matching() {
        //
        // }
    </script>
</div>
{% endblock %}
