{% extends 'index.html' %}
{% block body %}
<div class="ui container">
<h3>Hello, {{user}}</h3>
<br>
<br>
<div class="ui three cards">
  <div class="ui card">
    <div class="content">
        <a href="{{ url_for('view_passwords')}}">
        <div class="square image">
            <img src="{{url_for('static', filename='view passwords.png')}}"/>
        </div>
        </a>
    </div>
  </div>
  <div class="ui card">
    <div class="content">
        <a href="{{ url_for('view_passwords')}}">
        <div class="square image">
            <img src="{{url_for('static', filename='edit passwords.png')}}"/>
        </div>
        </a>
    </div>
  </div>
  <div class="ui card">
    <div class="content">
        <a href="{{ url_for('account_settings')}}">
        <div class="square image">
            <img class='ui image' src="{{url_for('static', filename='account settings.png')}}">
        </div>
        </a>
    </div>
  </div>

</div>
</div>
{% endblock %}
