<!DOCTYPE html>
<html lang = "en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>
<body>
    <div class = 'ui container'>
    <title>Password Manager</title>
    <h1>Password Manager</h1>
    <br>
    <br>
    {% if current_user.is_anonymous %}
    <a href = "{{url_for('login')}}"></a>
    {%endif%}

    <div class="baseContainer">
    {% block body %}{% endblock %}
    </div>
    </div>
</body>
</html>
